SUPABASE_PROJECT_ID="novo_project_id"
SUPABASE_PUBLISHABLE_KEY="nova_chave_anon_publica"
SUPABASE_URL="https://novo_project_id.supabase.co"
VITE_SUPABASE_PROJECT_ID="novo_project_id"
VITE_SUPABASE_PUBLISHABLE_KEY="nova_chave_anon_publica"
VITE_SUPABASE_URL="https://novo_project_id.supabase.co"
